{
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "all",
    "htmlWhitespaceSensitivity": "ignore",
    "tailwindConfig": "tailwind.config.ts",
    "plugins": ["prettier-plugin-tailwindcss"]
}
